Make a disnoary

In [13]:
import pandas as pd 
import numpy as np

dict={
    "name":["sudh","krish","harry"],
    "city":['bannu',"karachi","lahore"],
    'email':['a@a.com','b@b.com','c@c.com'],
     'gender': ['male','femal','male'],
     'numbers': [100,400,300]
}

#convert into padas like dataframe
df=pd.DataFrame(dict)
print(df)

    name     city    email gender  numbers
0   sudh    bannu  a@a.com   male      100
1  krish  karachi  b@b.com  femal      400
2  harry   lahore  c@c.com   male      300

make a csv file of the above data frame

In [21]:
convert_into_csv=df.to_csv('data.csv',index=True)

read the data from the csv file

In [15]:
read_the_data=pd.read_csv('data.csv')
print(read_the_data)

    name     city    email gender  numbers
0   sudh    bannu  a@a.com   male      100
1  krish  karachi  b@b.com  femal      400
2  harry   lahore  c@c.com   male      300

Show the head data

In [16]:
print(read_the_data.head(1))

   name   city    email gender  numbers
0  sudh  bannu  a@a.com   male      100

Show the data in last using tail function

In [17]:
print(read_the_data.tail(2))

    name     city    email gender  numbers
1  krish  karachi  b@b.com  femal      400
2  harry   lahore  c@c.com   male      300

Statistical anylisies

In [18]:
read_the_data.describe()

          numbers
count    3.000000
mean   266.666667
std    152.752523
min    100.000000
25%    200.000000
50%    300.000000
75%    350.000000
max    400.000000

change the index of csv file

In [24]:
read_the_data.index=['first','second','third']
print(read_the_data)

         name     city    email gender  numbers
first    sudh    bannu  a@a.com   male      100
second  krish  karachi  b@b.com  femal      400
third   harry   lahore  c@c.com   male      300